@import "components/CharacterCard/CharacterCard.css";
@import "components/SearchBar/SearchBar.css";
@import "components/NavButton/NavButton.css";
@import "components/NavPagination/NavPagination.css";

/*eigene Font für title */
@font-face {
  font-family: "rickandmortyfont";
  src: url("./assets/get_schwifty.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: rgb(51, 51, 51);
  --color-secondary: rgba(201, 195, 195, 0.3); /*0.3 für transparency */
  --font-family: system-ui;
}

body {
  font-family: var(--font-family);
  color: var(--color-primary);
  padding: 20px;
  background-image: url("./assets/StockCake-Gruner_wirbelnder_Abgrund-812162-standard.jpg");
   background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-family: "rickandmortyfont";
  width: 100%;
  text-align: center;
  position: fixed;
  z-index: 1;
  color:beige;
  padding: 10px 0;
}
