@import "components/CharacterCard/CharacterCard.css";
@import "components/SearchBar/SearchBar.css";
@import "components/NavButton/NavButton.css";
@import "components/NavPagination/NavPagination.css";

/* Media Queries für responsives Design */
/*Tablet */
@media (min-width: 900px) {
  .card-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/*Desktop */
@media (min-width: 1200px) {
  .card-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/*eigene Font für title */
@font-face {
  font-family: "rickandmortyfont";
  src: url("./assets/get_schwifty.ttf");
}

/*Font für Text */
@font-face {
  font-family: "fontfortext";
  src: url("./assets/Adult\ Swim.otf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: rgba(245, 245, 220);
  --color-secondary: rgba(32, 31, 31, 0.6); /*0.3 für transparency */
  --font-family: "fontfortext";
}

body {
  font-family: var(--font-family);
  color: var(--color-primary);
  padding: 20px;
  background-image: url("./assets/StockCake-Gruner_wirbelnder_Abgrund-812162-standard.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: -50px;
}

.title {
  font-family: "rickandmortyfont";
  background-color:;
  width: 100%;
  text-align: center;
  z-index: 1;
  color: var(--color-primary);
  padding: 10px 0;
}
